---
- name: Update apt cache
  command: apt-get update

- name: Install required packages
  apt:
    name:
      - git
      - curl
      - apt-transport-https
      - ca-certificates
      - software-properties-common
      - python3-pip
    state: present
    update_cache: yes

- name: Add Docker GPG key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add Docker repository
  apt_repository:
    repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable
    state: present

- name: Install Docker
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
    state: present

- name: Install Docker Compose
  get_url:
    url: 'https://github.com/docker/compose/releases/download/v2.29.0/docker-compose-linux-x86_64'
    dest: /usr/local/bin/docker-compose
    mode: '0755'
    force: yes

- name: Ensure docker service is running
  service:
    name: docker
    state: started
    enabled: yes
