name: Application Deployment

on:
  workflow_run:
    workflows: ['Infrastructure Pipeline']
    types:
      - completed
  push:
    paths:
      - 'frontend/**'
      - 'auth-api/**'
      - 'todos-api/**'
      - 'users-api/**'
      - 'log-message-processor/**'
      - 'docker-compose.yml'

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'push' }}
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: 'us-east-1'

    steps:
      - uses: actions/checkout@v3

      - name: Get Server IP
        id: get-ip
        run: |
          IP=$(aws ec2 describe-instances --filters "Name=tag:Name,Values=todo-app-server-v2" "Name=instance-state-name,Values=running" --query "Reservations[*].Instances[*].PublicIpAddress" --output text)
          echo "SERVER_IP=$IP" >> $GITHUB_ENV

      - name: Deploy via Ansible
        uses: dawidd6/action-ansible-playbook@v2
        with:
          playbook: infra/ansible/playbook.yml
          directory: ./
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          inventory: |
            [web]
            ${{ env.SERVER_IP }} ansible_user=ubuntu
          options: |
            --extra-vars "domain_name=${{ secrets.DOMAIN_NAME }} email=${{ secrets.ACME_EMAIL }}"
        env:
          ANSIBLE_CONFIG: infra/ansible/ansible.cfg
